/**
* .blank
*/

.blank {

	.container {
	
		max-width: 1000px;
	
	}

	h1 {
	
		@extend .master--title;
		margin-bottom: $sp-small;

	}

	h2, 
	h3,
	h4 {

		text-decoration: none;
		text-transform: none;
		color: $color-grey;
		margin-top: $sp-medium;
		margin-bottom: $sp-small;

	}

	ul {

		margin-bottom: $sp-small * 1.5;

		li {

			margin-bottom: $sp-extra-small / 1.5;

			&:before {
		
				content: '';
				display: inline-block;
				vertical-align: middle;
				margin-top: -2.5px;
				margin-right: $sp-small;
				width: $sp-extra-small;
				height: $sp-extra-small;
				background-color: $color-brand-one;
				border-radius: 100%;

			}

		}

	}

	ol {

		padding: 0;
		margin-bottom: $sp-small * 1.5;
		list-style-position: inside;

	}

}	