/**
* colors
*/ 

$color-brand-one: #B41F6A;
$color-brand-two: #33b89f;
$color-brand-three: #FDEA00; // yellow
$color-brand-four: #1fb469; // blue

/**
* status
*/ 

$color-pos: #3ec33e;
$color-neg: #c33e3e;
$color-star: #eece50;

/**
* mono
*/ 

$color-white: #ffffff;
$color-off-white: #F7F7F7;
$color-grey: #545454;
$color-light-grey: #dbdcd8;
$color-dark-grey: #464646;
$color-black: #000000;