@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=9f6a0558-9aef-4979-9110-8e705be5410d&fontids=5527589");
@font-face {
    font-family:"Cocogoose W01 Regular";
    src:url("../resources/fonts/cocogoose.woff2") format("woff2"),
    url("../resources/fonts/cocogoose.woff") format("woff");
}

$headings-font-family: 'Cocogoose W01 Regular', sans-serif;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1.25rem;

// base font settings
$font-size-base: 19px;
$font-family-base: 'bilo', sans-serif;
$line-height-base: 1.5;
$paragraph-margin-bottom: $lh;
$body-color: $color-dark-grey;

// sizes
$fz-xl: 1.75rem;
$fz-l: 1.15rem;
$fz-md: 1rem;
$fz-s: 0.9rem;
$fz-xs: 0.8rem;
$fz-xxs: 0.75rem;

// font weights

$fw-light: 300;
$fw-normal: 300;
$fw-medium: 500;
$fw-bold: 700;
$font-weight-base: $fw-normal;
