/************************************************************************
* margin top
************************************************************************/ 

/**
* .mdt
*/ 

.mdt { 

	&--m {

		margin-top: $sp-medium;

	}

	&--xs {

		margin-top: $sp-extra-small;

	}

	&--s {

		margin-top: $sp-small;

	} 

	&--l {

		margin-top: $sp-large;

	}

	&--xl {

		margin-top: $sp-extra-large;

	}

}

/************************************************************************
* margin bottom
************************************************************************/ 

/**
* .mdb
*/ 

.mdb {

	&--m {

		margin-bottom: $sp-medium;

	}

	&--n {

		margin-bottom: 0;

	}

	&--xs {

		margin-bottom: $sp-extra-small;

	} 

	&--s {

		margin-bottom: $sp-small;

	}

	&--l {

		margin-bottom: $sp-large;

	}

	&--xl {

		margin-bottom: $sp-extra-large;

	}

}

/************************************************************************
* margin left
************************************************************************/ 

/**
* .mdl
*/ 

.mdl {

	&--m {

	margin-left: $sp-medium;

	}

	&--xs {

		margin-left: $sp-extra-small;

	}

	&--s {

		margin-left: $sp-small;

	}

	&--l {

		margin-left: $sp-large;

	}

	&--xl {

		margin-left: $sp-extra-large;

	}

}

/************************************************************************
* margin right
************************************************************************/ 

/**
* .mdr
*/ 

.mdr {

	&--m {

		margin-right: $sp-medium;

	}

	&--xs {

		margin-right: $sp-extra-small;

	}

	&--s {

		margin-right: $sp-small;

	}

	&--l {

		margin-right: $sp-large;

	}

	&--xl {

		margin-right: $sp-extra-large;

	}

}

/************************************************************************
* margin vertical
************************************************************************/ 

/**
* .mdv
*/

.mdv { 

	&--xs {

		margin-top: $sp-extra-small;
		margin-bottom: $sp-extra-small;

	}

	&--s {

		margin-top: $sp-small;
		margin-bottom: $sp-small;

	}

	&--m {

		margin-top: $sp-medium;
		margin-bottom: $sp-medium;

	}

	&--l {

		margin-top: $sp-large;
		margin-bottom: $sp-large;

	}

	&--xl {

		margin-top: $sp-extra-large;
		margin-bottom: $sp-extra-large;

	}

}

/************************************************************************
* margin horizontal
************************************************************************/ 

/**
* .mdh
*/

.mdh { 

	&--xs {

		margin-left: $sp-extra-small;
		margin-right: $sp-extra-small;

	}

	&--s {

		margin-left: $sp-small;
		margin-right: $sp-small;

	}

	&--m {

		margin-left: $sp-medium;
		margin-right: $sp-medium;

	}

	&--l {

		margin-left: $sp-large;
		margin-right: $sp-large;

	}

	&--xl {

		margin-left: $sp-extra-large;
		margin-right: $sp-extra-large;

	}

}

/************************************************************************
* statics
/************************************************************************/

/**
* .mxs
*/ 

.mxs {

	margin: $sp-extra-small;

}

/**
* .ms
*/ 

.ms {

	margin: $sp-small;

}

/**
* .mm
*/ 

.mm {

	margin: $sp-medium;
	
}

/**
* .ml
*/ 

.ml {

	margin: $sp-large;

}

/**
* .mxl
*/ 

.mxl {

	margin: $sp-extra-large;

}

/**
* .mn
*/ 

.mn {

	margin: 0;

}

/**
* .mbn
*/

.mbn { 

	margin-bottom: 0 !important;

}

/**
* .mtn
*/

.mtn { 

	margin-top: 0 !important;

}