/**
* .flex
*/

@mixin flex($direction: 'row') {

	display: flex;
	flex-direction: $direction;
	flex-wrap: wrap;
	// margin-left: -15px;
	// margin-right: -15px;

}

/**
* Transition
*/

@mixin transition($effect: all, $time: $timing-fast, $ease: ease-in-out) {

	transition: $effect $time $ease;

}

/**
* truncate
*/

@mixin truncate() {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

/**
* posAbs
*/

@mixin posAbs($index: 0) {

	position: absolute;
	z-index: $index;

}

/**
* posFix
*/

@mixin posFix($index: 0) {

	position: fixed;
	z-index: $index;

}

/**
* posAbs
*/

@mixin posRel() {

	position: relative;
	z-index: 0;

}

/**
* pseudo
*/

@mixin pseudo() {

	position: absolute;
	z-index: -1;
	content: '';

}

