/**
* body
*/

body { 

	letter-spacing: 0.045rem;
	color: $color-black;
	padding-top: 90px;
	
}

/**
* *
*/

* {

	letter-spacing: inherit;

}

/**
* :focus
*/

:focus {

	outline: 3px solid $color-brand-one;

}

/**
* .row
*/

.row {

	&:not([class*="mdb"]) {

		margin-bottom: - $sp-medium;

	}

	.row {

		margin-bottom: 0;

	}

}

/**
* *[class^="col"]
- make all col's have bottom margin on mobile so that there's no element that "touches" the element below
*/

*[class^="col"] { 

	&:not([class*="mdb"]) {

		margin-bottom: $sp-medium;

	}

}

/**
* .container
*/ 

.container {

	padding-left: $sp-medium;
	padding-right: $sp-medium;
	max-width: 1400px;

	&--xs {

		max-width: 750px;

	}

	&--sm {

		max-width: 1000px;

	}

	&--lg {

		max-width: 1650px;

	}

	.container {

		padding-left: 0;
		padding-right: 0;

	}

}

/**
* ::selection
*/

::selection { 

	background: $color-brand-one;
	color: $color-white;

}


/**
* iframe
*/

iframe {

	&.wp-embedded-content {

		width: 100%;
		max-width: 100%;

	}

}	