/**
* .m--only
*/

.m--only { 

	display: inline-block;

	@include media-breakpoint-up(sm) {
	
		display: none;
	
	}

}

/**
* .m--hide
*/

.m--hide { 

	display: none;

	@include media-breakpoint-up(sm) {
	
		display: inline-block;
	
	}

}

/**
* .t--up
*/

.t--up { 

	display: none;

	@include media-breakpoint-up(md) {
	
		display: inline-block;
	
	}

}

/**
* .t--down
*/

.t--down { 

	display: block;

	@include media-breakpoint-up(lg) {
	
		display: none;
	
	}

}