/**
* .alm-btn-wrap
*/

.alm-btn-wrap {

	margin-top: $sp-small;
	text-align: center;

}

/**
* .alm-reveal
*/

.alm-reveal {

	&:not(:last-child) {

		margin-bottom: 0;

	}

}

/**
* .alm-listing
*/

.alm-listing {

	padding-left: 0;

}