/**
* .band--socials
*/

.band--socials {

	li {

		margin-bottom: $sp-small;

		a {

			&:hover {

				border-bottom: 0;
				color: $color-brand-one;

				svg {

					fill: $color-brand-one;

				}

			}

		}

	}

	svg {

		fill: $color-white;

	}

}

/**
* .item.band
*/

.item.band,
.single-band main {

	img {

		filter: grayscale(1);

	}

}

.single-band {

	

}

