/**
* section.collection
*/

section.collection {

	margin-bottom: 0 !important;

}

/**
* .item--holder
*/

.item--holder {

	height: inherit;
	margin-bottom: $sp-medium;

}

/**
* .item	
*/

.item {

	max-width: 375px;
	margin: 0 auto;
	padding: $sp-extra-small / 2;

	img {

		@extend .bg-box;

	}

	@include media-breakpoint-up(md) {
		
		margin: 0;
		height: 100%;

	}

	&--title {

		a {

			font: inherit;
			color: inherit;
			line-height: 1.6;

		}

	}

	&--anchor {

		display: block;

		&:hover {
	
			border-bottom: 0;

		}

	}

	&.band {

		@include posRel;

		.item--title {

			@include posAbs;
			left: $sp-medium;
			bottom: $sp-medium;

		}

		&.alumni {

			h2 {

				color: $color-white;

			}

		}

	}

	&.product {

		img {

			filter: grayscale(0);

		}

		.woocommerce-Price-amount {

			font-size: $fz-s;

		}

	}

}

/**
* .wc-block-grid__products
*/

.wc-block-grid__products {

	list-style: none;

}

/**
* .wc-block-grid__product
*/

.wc-block-grid__product {

	max-width: 375px;
	margin: 0 auto;

	&-title {
		
		font-family: $headings-font-family;

	}

	&-image {

		img { 

			@extend .bg-box;
			margin-bottom: $sp-small;

		}

	}

	.add_to_cart_button {

		@extend .button;
		font-size: $fz-s;
		padding-left: $sp-small;
		padding-right: $sp-small;
		margin-top: $sp-small;

	}

}