/**
* .faqs
*/

ul.faqs {

	margin-bottom: - $sp-medium;

}

/**
* .faq	
*/

.faq {

	&:last-child {

		margin-bottom: 0;

	}

	&--content {
	
		display: none;

	}

	h2 {

		font-size: $fz-xl;

	}

	button {

		text-align: left;
		line-height: 1.6;

	}

	&.active {

		svg {

			transform: rotate(-45deg);

		}

		.faq--content {

			display: block;

		}

	}

}