/**
* .hero
*/

.hero {

	@include posRel;

	&--wrapper { 
	
		@include posAbs;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;

	}

	&--content > *:not(.hero--cta) { 

		width: 80%;
	
		@include media-breakpoint-up(md) {
			
			width: 520px;

		}
	
		@include media-breakpoint-up(lg) {
			
			width: 55%;

		}
	
	}

	&.hero--band {

		max-height: 90vh;

		.hero--wrapper {

			top: auto;
			transform: none;
			bottom: $sp-small;
			left: 0;

		}

	}

}

/**
* .hero--title
*/

.hero--title {

	font-size: $fz-xl;
	
	&:not(.title--stretch) {

		line-height: 1.1;

	}

	@include media-breakpoint-up(md) {
		
		font-size: calc(#{$h2-font-size} + 1vw);

	}

	@include media-breakpoint-up(lg) {
		
		font-size: calc(#{$h2-font-size} + 1.5vw);

	}

}

/**
* .hero--subTitle
*/

.hero--subTitle {

	font-size: $fz-l;
	line-height: 1.1;

	@include media-breakpoint-up(md) {
		
		font-size: calc(#{$h1-font-size} + 1vw);

	}

	@include media-breakpoint-up(lg) {
		
		font-size: calc(#{$h1-font-size} + 1.5vw);

	}

}

/**
* .hero--titleBottom
*/

.hero--titleBottom {

	@include posAbs(10);
	bottom: $sp-extra-small;
	left: 0;
	width: 100%;
	color: $color-white;
	text-transform: uppercase;

}