/**
* .history--navigation
*/

.history--navigation {

	display: none;	

	&.notWhite {

		li {

			div { 

				color: $color-grey;

			}

		}

		button:after {
		
			border-color: $color-grey;

		}

	}

	@include media-breakpoint-up(md) {
		
		display: block;
		@include posFix(2);
		right: $sp-small;
		bottom: 0;
		padding-left: 0;

		li {
	
			list-style: none;
			text-align: right;

			&:hover {

				button {

					div {

						opacity: 1;
						left: 0;

					}

				}

			}

		}

		button {

			padding-left: $sp-small;

			&:after {

				content: '';
				display: inline-block;
				vertical-align: middle;
				width: $sp-small;
				height: $sp-small;
				border-radius: 100%;
				border: 3px solid $color-white;
				margin-left: $sp-extra-small;

			}

			div {

				text-transform: lowercase;
				opacity: 0;
				position: relative;
				display: inline-block;
				z-index: 0;
				right: -100%;
				vertical-align: middle;
				color: $color-white;
				@include transition;

				&::first-letter {

					text-transform: uppercase;

				}

			}

		}
		
	}

}

/**
* .history--navigationMobile
*/

.history--navigationMobile {

	@include media-breakpoint-up(md) {
		
		display: none;
		
	}

	@include posFix(4);
	left: 0;
	bottom: 0;

	select {

		width: 100%;
		left: 3px;
		display: none;

	}

	&.active {

		select {

			display: block;

		}

	}

}