/**
* body.history
*/

body.history {

	section:first-of-type {
	
		padding-top: $sp-large !important;

		@include media-breakpoint-up(md) {
	
			padding-top: $sp-extra-large !important;
			
		}

	}

}	

/**
* .section--history
*/

.section--history {

	.container {

		overflow: hidden;

	}

}

/**
* .section--content
*/

.section--content {

	p span {

		font-weight: inherit !important;

	}

}

/**
* .section--image
*/

.section--image {

	@include posRel;
	border: 5px solid $color-white;
	background-color: $color-white;

	.caption {

		width: 100%;
		color: $color-black;
		font-size: 1rem;
		padding: $sp-extra-small;
		font-style: italic;

	}

	&.indented {

		@include media-breakpoint-up(md) {

			width: auto;
			max-width: 450px;
			float: left;
			margin-right: $sp-medium;

		}

	}
	
}

/**
* .show--hideContainer
*/

.show--hideContainer {

	.show--hide {

		display: none;

	}

	&.active {

		.show--hide {

			display: block;

		}

		.readMore {

			display: none;

		}

	}

}