/**
* .pagination
*/

.pagination {

	ul {

		@include flex;
		@extend .align-items-center;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
		padding-left: 0;

		li {

			@extend .col-auto;
			font-family: $headings-font-family;
			font-size: $fz-s;

			> *:not(.current) {
	
				display: block;

			}

			a {

				border-radius: 3px; 
				background-color: $color-brand-one;
				color: $color-white;
				padding: $sp-extra-small;

				&:hover {

					border-bottom: 0;
					opacity: 0.5;

				}

			}

		}

	}

}