/**
* .post
*/

article.post {

	@include posRel;
	border: $sp-extra-small solid;	
	overflow: hidden;
	background: $color-black;

	.post--name {

		position: relative;
		z-index: 2;
		font-size: $fz-s;
		margin-bottom: 0;
		padding: $sp-small;
		line-height: 1.6;
		background-color: $color-white;
		color: $color-black;
		width: 100%;

		@include media-breakpoint-up(lg) {
			
			@include posAbs;
			bottom: - $sp-extra-small;
			max-width: 75%;
			right: - $sp-extra-small;

		}

		a {

			color: inherit;

		}

	}

	.post--image {

		@include transition;

		@include media-breakpoint-up(lg) {

			transform: scale(1.1) rotate(-2.5deg);
			
		}

	}

	.post--cat {

		@include posAbs(2);
		top: $sp-medium;
		left: 0;
		max-width: 150px;
		padding: $sp-extra-small;

		p {

			margin-bottom: auto;

		}

	}	

	&[data-category="news"] {

		border-color: $color-brand-one;
		color: $color-white;

		.post--name {

			background-color: $color-brand-one;
			color: $color-white;

		}

		.post--cat {

			background-color: $color-brand-one;

		}

	}

	&[data-category="interviews"] {

		border-color: $color-brand-four;
		color: $color-black;

		.post--name {

			background-color: $color-brand-four;
			color: $color-black;

		}

		.post--cat {

			background-color: $color-brand-four;

		}

	}

	&[data-category="10-questions"] {

		border-color: $color-brand-three;
		color: $color-black;

		.post--name {

			background-color: $color-brand-three;
			color: $color-black;

		}

		.post--cat {

			background-color: $color-brand-three;

		}

	}

	&:hover {

		.post--image {

			transform: scale(1.375) rotate(-15deg);

		}		

	}

}

/**
* .single-post
*/
	
.single-post {
	
	.post--image .bg-box {
		
		padding-top: $sp-small * 1.5;
		padding-bottom: $sp-small * 1.75;
		background-size: 100% 100%;
		margin-left: - $sp-small;
		margin-right: - $sp-small;
		transform: rotate(-0.33deg);

	}	

}

/**
* .post--meta
*/

.post--meta {

	.sharedaddy {

		margin-top: 0;

	}

	.sd-block {

		@include flex;
		align-items: center;
		margin-top: -11px;

	}

	.sd-title {

		margin-bottom: 0;
		font-size: $fz-s;
		margin-right: $sp-small;

	}

	li {
	
		margin-bottom: 0;

	}

}
