/**
* .search--results__section
*/

.search--results__section {

	&:not(:last-child) {

		margin-bottom: $sp-large;

	}

}

/**
* #searchMobile,
#searchTop
*/

#searchMobile,
#searchTop {

	@include flex;

	input {
	
		background-color: transparent;
		height: auto;
		border: none;
		color: $color-white;
		padding-top: $sp-extra-small / 4;
		padding-bottom: $sp-extra-small / 4;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 3px solid $color-white;
		max-width: 200px;
		margin-right: $sp-small;

	}

	#searchSubmit {
	
		padding-left: 0;
		padding-right: 0;

		svg {

			fill: $color-white;
			padding: $sp-extra-small / 2;

		}

	}

}

/**
* #searchTop
*/

#searchTop {

	input {
	
		display: none;

		@include media-breakpoint-up(xl) {
			
			display: block;
			margin-left: $sp-small;

		}

	}

}

/**
* #searchMobile
*/

#searchMobile {

	margin-top: $sp-medium;

}
