/**
* .share-customize-link
*/

.share-end, 
.share-customize-link {

	display: none;

}

/**
* .sharedaddy
*/

.sharedaddy {

	margin-top: $sp-large;
	margin-bottom: - $sp-small;

}

/**
* .sd-title
*/

.sd-title {

	font-size: $fz-l;

}

.sd-content {

	ul {

		padding-left: 0;
		list-style: none;
		@include flex;
		margin-left: -15px;
		margin-right: -15px;

	}

	li {	

		padding-left: 15px;

		a {

			display: block;

			&:hover {

				border-bottom: 0;

			}

			&:before {

				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 30px;
				height: 30px;
				background-size: 30px 30px;
				background-position: center;
				background-repeat: no-repeat;

			}

		}

		&[class*="twitter"] {

			span {

				display: none;

			}

			a:before {

				background-image: url($resource_uri + '/svgs/twitter.svg');

			}
	
		}

		&[class*="facebook"]  {

			span {

				display: none;

			}

			a:before {

				background-image: url($resource_uri + '/svgs/facebook.svg');
				margin-top: -5px;

			}
	
		}

	}

}