/**
* .statement
*/

.statement {

	padding-top: $sp-extra-large !important;
	
	h1, h2, h3, h4 {

		text-align: center;

	}

	&--image {

		margin-top: - $sp-extra-large;

	}

	ul {

		padding-left: 0;
		list-style: inside;
		list-style-type: circle;
		margin-bottom: $sp-medium;

	}

}	