/**
* .woocommerce-account
*/

.woocommerce-account {

	.woocommerce {
	
		@extend .row;

		.woocommerce-MyAccount-navigation {

			@extend .col-12;
			@extend .col-md-4;

		}

		.woocommerce-MyAccount-content {

			@extend .col-12;
			@extend .col-md-8;

			.woocommerce-message {

				margin-top: 0;	

			}

		}

	}

	.col2-set {

		margin-left: -15px;
		margin-right: -15px;

	}

	.is-active {

		a {

			color: $color-brand-one;

		}

	}

}

/**
* .support
*/

.support {

	p {

		@include posRel;
		z-index: 1;

	}

}