/**
* .woocommerce-message
*/

.woocommerce-message {

	margin-top: $sp-large;
	margin-bottom: -$sp-large;
	display: block;
	line-height: $sp-medium * 1.25;
	font-family: $headings-font-family;
	font-size: $fz-s;
	border: 2px solid;
	padding: $sp-small;

	@include media-breakpoint-up(md) {
		
		margin-top: $sp-extra-large;
		
	}

	.button {

		float: right;
		line-height: $sp-medium * 1.25;
		height: $sp-medium * 1.25;
		margin-left: $sp-small;

	}

}

/**
* .woocommerce-store-notice
*/

.woocommerce-store-notice {

	@include posFix(1);
	right: $sp-medium;
	bottom: $sp-medium;
	margin-bottom: 0;
	background-color: $color-brand-one;
	padding: $sp-medium;
	max-width: 520px;
	width: calc(100% - #{$sp-large});
	color: $color-white;
	font-size: $fz-md;

	a {

		color: $color-white;
		margin-top: $sp-extra-small;
		display: table; // ewwwww
		border-bottom: 2px solid currentColor;

	}

}