/**
* table
*/

table {

	background-color: $color-white;

	p {

		margin-bottom: 0;

	}

	a:hover {

		border: none;

	}

	&.shop_table {

		margin-top: $sp-large;
		margin-bottom: $sp-large;

	}

	&.cart,
	&.shop_table {

		background-color: transparent;
		color: $color-white;
		width: 100%;

		a, 
		span {

			color: inherit;

		}

		th,
		td {

			padding: $sp-extra-small * 1.33;	

		}

		label {
		
			display: block;
			margin-bottom: 0;

		}

		.product-thumbnail {

			display: none;

			img { 

				@extend .bg-box;

			}

			@include media-breakpoint-up(md) {
				
				display: block;

				img { 
					
					padding: $sp-extra-small;
					max-width: 125px;

				}

			}

		}

		.product-remove a {
	
			font-size: $h1-font-size;

		}

		.quantity {

			label {

				display: none;

			}

			input {

				max-width: $sp-extra-large;

			}

		}

	}

	&.variations,
	&.woocommerce-product-attributes {

		border: 2px solid $color-light-grey;
		width: 100%;

		tr {

			&:not(:last-child) {

				border-bottom: 2px solid $color-light-grey;

			}

		}

		th,
		td {

			padding: $sp-extra-small * 1.33;

			&:not(:last-child) {

				border-right: 2px solid $color-light-grey;

			}	

		}

		label {
	
			display: block;
			margin-bottom: 0;

		}		

	}

	&.woocommerce-product-attributes {

		&:not(:last-of-type) {

			margin-bottom: $sp-medium;

		}

	}

	&.variations {

		width: auto;
		margin-bottom: $sp-small;

		select {

			display: inline-block;
			width: auto;

		}

		.reset_variations {

			margin-left: $sp-small;
			
		}	

	}

	td.actions {

		padding-top: $sp-large;

		.coupon {

			float: left;
			margin-bottom: $sp-medium;

			@include media-breakpoint-up(md) {
				
				margin-bottom: 0;

			}	

		}	

		button[name="update_cart"] {

			@include media-breakpoint-up(md) {
			
				margin-top: $sp-medium * 1.15;
				float: right;

			}

		}

	}

	&.shop_table_responsive {

		thead {
	
			display: none;
	
		}	

		tr {

			display: block;

			&:not(:last-child) {
				
				border-bottom: 2px solid;

			}

		}

		td {

			display: block;

		}

		@include media-breakpoint-up(md) {

			thead {
		
			    display: table-header-group;
		
			}	

			tr,
			tr:not(:last-child) {

				display: table-row;
				border-bottom: 0;

			}

			td {

				display: table-cell;

			}
			


		}
	
	}
	
}