/**
* .checkout
*/

.checkout {

	.woocommerce-info {

		margin-top: $sp-medium;
		margin-bottom: $sp-small;

	}

	.woocommerce-form-login, 
	.woocommerce-form-coupon {

		max-width: 560px;

	}

}

/**
* .cart-empty
*/

p.return-to-shop {

	margin-top: $sp-medium;	

}

/**
* .col2-set
*/

.col2-set {

	@include flex;
	margin-top: $sp-large;

	> div {

		@extend .col-12;
		@extend .col-md-6;

	}

}

/**
* .wc_payment_methods
*/

.wc_payment_methods {

	padding-left: 0;
	list-style: none;
	margin-bottom: $sp-medium;

}

/**
* ul.woocommerce-shipping-methods
*/

ul.woocommerce-shipping-methods {

	padding-left: 0;
	margin-bottom: 0;
	list-style: none;

}

/**
* .woocommerce-checkout-payment
*/

.woocommerce-checkout-payment {

	.button,
	button,
	input[type="submit"] {

		display: inline-block;
		margin-right: $sp-small;

	}

}

/**
* .woocommerce-terms-and-conditions-wrapper
*/

.woocommerce-terms-and-conditions-wrapper {

	margin-bottom: $sp-medium;

}