/**
* body.woocommerce-cart
*/

body.woocommerce-cart,
body.woocommerce-checkout {

	.nav--trigger,
	.header--right {

		display: none;

	}

	.woocommerce-message {

		margin-top: 0;
		margin-bottom: $sp-small;

	}

	.masthead--logo {

		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%) scale(0.75);

		@include media-breakpoint-up(md) {
			
			margin-top: - $sp-medium;

		}

		&:hover {

			animation: none;

		}

	}

	footer {

		.row {

			justify-content: space-between;

		}

	}

	.footer--sitemap {

		display: none;

	}

}	