/**
* .filters
*/

.filters {

	select {

		width: 100%;
		left: 0;
		margin-bottom: $sp-medium;

	}

}

/**
* .woo--sidebar
*/

.woo--sidebar {

	@include posRel;
	display: flex;
	flex-direction: column;

	@include media-breakpoint-up(md) {
		
		padding-right: $sp-medium;

	}

	@include media-breakpoint-up(lg) {
		
		padding-right: $sp-large;

	}

	aside {

		position: sticky;
		top: $sp-extra-large * 1.5;

	}

}