/**
* body.single-product
*/

body.single-product {
	
	@extend .grunge--grey;

	main {

		@extend .container;

	}

}

/**
* .product
*/

body.single-product div.product {

	@include flex;
	@extend .no-gutters;
	@include posRel;
	margin-top: $sp-extra-large;

	.woocommerce-product-gallery {

		@extend .col-12;
		@extend .col-md-5;

	}

	.summary {

		@extend .col-12;
		@extend .col-md-7;

	}

	/**
	* .quantity
	*/
	
	.quantity {

		input {

			max-width: $sp-large * 1.25;

		}
	
	}

	/**
	* .product_meta
	*/

	.product_meta {
		
		margin-top: $sp-medium;
		font-size: $fz-s;

	}

	/**
	* .onsale
	*/
	
	.onsale {
	
		@include posAbs(1);
		top: 0;
		left: $sp-small;
		margin-top: $sp-small;
		margin-left: $sp-small;
		width: $sp-large;
		height: $sp-large;
		line-height: $sp-large;
		border-radius: 100%;
		background-color: $color-brand-one;
		font-family: $headings-font-family;
		font-size: $fz-s;
		color: $color-white;
		text-transform: uppercase;
		text-align: center;
		transform: rotate(-15deg);
	
	}

	&.bundled_product {

		margin-top: $sp-small;
		padding-bottom: $sp-small;
		width: 100%;
		border-bottom: 2px solid $color-black;
		
		.cart {

			margin: 0;

		}

		.item_title {

			font-size: $font-size-base;

		}

	}

}

/**
* .bundle_wrap,
.bundle_data
*/

.bundle_wrap,
.bundle_data {

	width: 100%;
	display: block;

}

/**
* .bundle_button
*/

.bundle_button {

	@include flex;

}

/**
* .woocommerce-product-gallery
*/

.woocommerce-product-gallery {

	position: relative;
	z-index: 0;

	img {
	
		@extend .bg-box;
		padding: $sp-medium;

	}

	ol {

		@include flex;
		@extend .no-gutters;
		margin-top: $sp-small;

		li {
	
			max-width: 100px;
			margin-right: $sp-extra-small;

			img {

				padding: $sp-extra-small;

			}
	
		}

	}

}

/**
* .woocommerce-product-gallery__trigger
*/

.woocommerce-product-gallery__trigger {

	position: absolute;
	z-index: 1;
	top: 0;
	right: $sp-small;
	margin-top: $sp-small;
	margin-right: $sp-small;

	&:hover {

		border: none;

	}

}

/**
* .woocommerce-variation-add-to-cart, 
.product .cart
*/

.woocommerce-variation-add-to-cart, 
.product .cart {

	@include flex;
	@extend .no-gutters;
	margin-top: $sp-small;
	margin-bottom: $sp-small;

	.quantity {
	
		@extend .col-auto;
		padding-left: 0;

	}

}

/**
* .woocommerce-variation
*/

.woocommerce-variation {

	margin-top: $sp-small;

}

/**
* .woocommerce-variation-availability
*/

.woocommerce-variation-availability {

	p {

		margin-bottom: 0;

	}

}

/**
* .woocommerce-Price-amount
*/

.woocommerce-Price-amount {

	@extend .font-heading;
	@extend .fz-xl;
	color: $color-brand-one;

	.woocommerce-Price-currencySymbol {

		@extend .fz-s; 

	}

}

/**
* .related.products
*/

.related.products {

	h2 {

		margin-left: $sp-small;
		margin-right: $sp-small;

	}

}

/**
* .single_variation_wrap
*/

.single_variation_wrap {

	display: block;
	width: 100%;

}

/**
* .alg
*/

.alg {

	font-family: $headings-font-family;
	width: 100%;
	margin-bottom: $sp-small;

	input[name="alg_open_price"] {

		width: 120px !important;
		text-align: left !important;

	}

}

/**
* .woo_pp_cart_buttons_div
*/

.woo_pp_cart_buttons_div {

	display: none;

}