/**
* .products
*/

ul.products {

	@include flex;
	width: 100%;
	padding-left: 0;
	list-style-type: none;

}

/**
* section.products
*/

section.products {

	@extend .pdv--l;
	width: 100%;

}

/**
* .wc_payment_method
*/

.wc_payment_method {

	img {

		display: inline-block;
		width: $sp-large;
		margin-left: $sp-extra-small;

	}

}	

/**
* .wc-block-grid
*/

.wc-block-grid {

	margin-bottom: $sp-large;

	.wc-block-grid__products {

		@extend .row;
		padding-left: 0;

	}	

	.wc-block-grid__product {

		@extend .col-12;
		@extend .col-md;
		margin-bottom: $sp-medium;

	}

	&.has-3-columns .wc-block-grid__product {

		@extend .col-12;
		@extend .col-md-4;

	}

	&.has-2-columns .wc-block-grid__product {

		@extend .col-12;
		@extend .col-md-6;

	}

	&.has-4-columns .wc-block-grid__product {

		@extend .col-12;
		@extend .col-md-3;

	}

}