/**
* .woocommerce-tabs
*/

.woocommerce-tabs {

	@extend .col-12;
	@extend .pdv--l;
	width: 100%;

	.wc-tabs {

		@include flex;
		@extend .align-items-end;
		margin-left: 0;
		margin-right: 0;
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		background-color: $color-white;
		margin-bottom: -2px;

		li {
			
			margin-bottom: 0;

		}

		a {

			border: 2px solid $color-black;
			display: block;
			font-family: $headings-font-family;
			font-size: 1rem;
			padding: $sp-small $sp-small;
			margin-right: -2px;

			&.active {
	
				padding-top: $sp-small * 1.15;
				padding-bottom: $sp-small * 1.15;

			}

		}

	}	

	.woocommerce-Tabs-panel {

		border: 2px solid $color-black;
		padding: $sp-medium;
		background-color: $color-white;
		width: 100%;
		display: none;

		&.active {

			display: block;

		}

	}

}