/**
* .coupon
*/

.coupon {

	@include flex;
	@extend .no-gutters;

	label {

		padding-bottom: $sp-small;

	}

	input {

		width: auto;
		border-color: transparent;
		margin-right: $sp-extra-small / 2;

	}

	button {

		font-size: $fz-s;

	}

}

/**
* .woocommerce-form-coupon-toggle
*/

.woocommerce-form-coupon-toggle {

	padding-left: $sp-small;
	padding-right: $sp-small;
	
}
