/**
* .bg-black
*/

.bg-black {
	
	background-color: $color-black;
	color: $color-white;

	.bg-box {

		background-image: url($resource_uri + '/boxes/box-white.svg');

	}

}

/**
* .bg-grey
*/

.bg-grey {
	
	background-image: url($resource_uri + '/misc/bg-grey.jpg');
	background-color: $color-grey;
	color: $color-white;

}

/**
* .bg-pink
*/

.bg-pink {
	
	background-color: $color-brand-one;
	color: $color-white;

	a,
	.woocommerce-Price-amount { 
		
		color: $color-white;

	}
	
	.button:not(.blank),
	button:not(.blank) {

		background-color: $color-black;

	}

	input:focus,
	input:hover,
	input:hover {

		border-color: $color-black;

	}

	.validation_error {

		background-color: $color-black;

	}

	.validation_message {

		color: $color-black;

	}

}

/**
* .bg-white
*/

.bg-white {
	
	background-color: $color-white;

}

/**
* .bg-box
*/

.bg-box {

	background-image: url($resource_uri + '/boxes/box-black.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5%;

}

/**
* .bg-box-white
*/

.bg-box-white {

	background-image: url($resource_uri + '/boxes/box-white.svg');
	background-size: cover;
	background-position: center;
	padding: $sp-small * 1.33;

}
