/**
* .button
*/

.button,
input[type="submit"],
button { 

	&:not(.blank) {

		display: inline-block;
		padding-left: $sp-extra-small * 1.33;
		padding-right: $sp-extra-small * 1.33;
		line-height: calc(#{$sp-medium * 1.5} - 4px);
		text-transform: uppercase;
		text-decoration: none;
		border: none;
		backface-visibility: hidden;
		width: auto;
		background-color: $color-brand-one;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		font-size: $fz-xs;
		font-family: $headings-font-family;
		font-weight: $fw-bold;
		color: $color-white;

		@include media-breakpoint-up(sm) {
			
			font-size: 1rem;
			line-height: calc(#{$sp-default-height} - 4px);
			padding-left: $sp-small;
			padding-right: $sp-small;

		}
		
		&.black {

			background-color: $color-black;

		}
		
		&.white {

			background-color: $color-white;
			color: $color-black;

		}

		&.small {
	
			font-size: $fz-xxs;
			padding-left: $sp-extra-small;
			padding-right: $sp-extra-small;
			line-height: 35px;

		}

		&:hover {

			text-decoration: none;
			opacity: 0.8;

		}

	}

	/**
	* :focus
	*/

	&:focus {

		outline: 3px solid $color-brand-one;

	}

}

/**
* button
*/

button {

	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;

}
