/**
* h1
*/

h1 {

	font-size: $h1-font-size;
	margin-bottom: $sp-medium;
	
	@include media-breakpoint-up(lg) {
		
		font-size: calc(#{$h1-font-size} + 1.2vw);

	}

}

/**
* h2
*/

h2 {

	font-size: $h2-font-size;
	margin-bottom: $sp-medium;
	
	@include media-breakpoint-up(lg) {
		
		font-size: calc(#{$h2-font-size} + 1.2vw);

	}

}

/**
* .title--stretchHolder
*/

.title--stretchHolder {

	padding-top: $sp-large;

	@include media-breakpoint-up(lg) {
		
		padding-top: $sp-extra-large;

	}

}

/**
* .title--stretchHolder
*/

body.blog .title--stretchHolder {

	margin-top: -35px;

	.title--stretch {

		@include posRel;
		top: 25px;
		margin-bottom: 0;

	}

}

/**
* .title--stretch
*/

.title--stretch {

	font-size: calc(#{$h1-font-size} + 4.5vw);
	text-transform: uppercase;
	margin-bottom: $sp-small * 1.33;
	@include posRel;
	left: -5px;

	@include media-breakpoint-up(sm) {

		font-size: calc(#{$h1-font-size} + 7.5vw);

	}

	@include media-breakpoint-up(md) {

		white-space: nowrap;
		font-size: calc(#{$h1-font-size} + 10vw);
		line-height: 0.8;
		margin-bottom: $sp-small;

	}

}

/**
* del
*/

del {

	text-decoration-color: $color-brand-one;

}

/**
* ins
*/

ins {

	text-decoration: none;

}

/**
* p
*/

p {

	&:last-child {

		margin-bottom: 0;

	}

}