/**
* .fz-s
*/

.fz-s {

	font-size: $fz-s;

}

/**
* .fz-xs
*/

.fz-xs {

	font-size: $fz-xs;

}

/**
* .fz-xxs
*/

.fz-xxs {

	font-size: $fz-xxs;

}

/**
* .fz-l
*/

.fz-l {

	font-size: $fz-l;

}

/**
* .fz-xl
*/

.fz-xl {

	font-size: $fz-xl;

}