/**
* footer
*/

footer {

	ul {

		padding-left: 0;
		margin-bottom: 0;	
		list-style: none;

		a {

			color: $color-white;
			font-weight: $fw-bold;

			svg {

				fill: $color-white;

			}	

			&:hover {

				color: $color-brand-one;

				svg {

					fill: $color-brand-one;

				}	

			}

		}

	}

}

/**
* .footer--logo
*/

.footer--logo {

	display: block;
	max-width: 280px;

}