/**
* input
*/

input { 

	border-radius: 0px;

	&:not([type=submit]):not([type=checkbox]):not([class*=select2]) {

		background-color: $color-white;
		outline: none;
		height: $sp-default-height;
		padding-left: $sp-small;
		padding-right: $sp-small;
		border: 3px solid $color-black;
		width: 100%;
		font-family: $headings-font-family;
		font-size: $fz-s;

		&:active,
		&:hover,
		&.active,
		&:focus {

			border-color: $color-dark-grey;

		}

	}

	&[type=checkbox] {

		margin-top: $sp-small;

	}

}

/**
* textarea
*/

textarea { 

	border-radius: 0px;
	width: 100%;
	font: inherit;
	padding-top: $sp-small;
	padding-left: $sp-small;
	outline: none; 
	border: none;
	min-height: $sp-large;
	max-height: $sp-extra-large * 2;
	border: 3px solid $color-black;
	vertical-align: bottom;
	border-radius: 0;	
	appearance: none;

	&:active,
	&:hover,
	&.active,
	&:focus {

		border-color: $color-dark-grey;

	}

}

/**
* select
*/ 

select,
.select2-selection {

	height: $sp-default-height !important;

}

.select2-selection__rendered {

	line-height: $sp-default-height !important;

}

.select2-selection__arrow {
	
	top: 50% !important;
	transform: translateY(-50%);

}

/**
* .screen-reader-text
*/

.screen-reader-text {

	display: none;

}

/**
* label
*/

label { 

	line-height: 1;
	@include transition;
	vertical-align: text-bottom;
	font-weight: $fw-bold;
	color: inherit;
	width: 100%;

}

/**
* .gform_fields
*/

.gform_fields {

	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

}

/**
* .gfield
*/

.gfield {

	&:not(:last-child) {

		margin-bottom: $sp-medium;

	}

}

/**
* .gfield_description
*/

.gfield_description {

	margin-bottom: $sp-small;

}

/**
* select
*/

select {

	border: none;
	outline: 3px solid $color-black;
	border-right: $sp-small solid $color-white;
	display: block;
	width: calc(100% - 6px);
	padding-left: $sp-small;
	padding-right: $sp-small;
	font-weight: $fw-bold;
	position: relative;
	z-index: 0;
	left: 3px;

}	

/**
* .hidden_label
*/

.hidden_label {

	label {

		display: none;

	}

}

/**
* .gform_ajax_spinner
*/

.gform_ajax_spinner {

	display: inline-block;
	vertical-align: middle;
	width: 40px;
	margin-left: $sp-small;
	animation: spin 1s infinite;
	animation-timing-function: linear;

}

/**
* .validation_error
*/

.validation_error {

	margin-bottom: $sp-small;
	background-color: $color-neg;
	color: $color-white;
	padding: $sp-small;
	line-height: 2;
	font-family: $headings-font-family;
	font-size: $fz-s;

}

/**
* .gform_confirmation_message
*/

.gform_confirmation_message {

	margin-bottom: $sp-small;
	background-color: $color-pos;
	color: $color-white;
	padding: $sp-small;
	line-height: 2;
	font-family: $headings-font-family;
	font-size: $fz-s;

}

/**
* .validation_message
*/

.validation_message {

	color: $color-neg;
	font-family: $headings-font-family;
	font-size: $fz-s;
	font-weight: $fw-bold;
	margin-top: $sp-extra-small;

}