/**
* .grunge
*/

.grunge {

	&--pink {

		background-image: url('../resources/grunge/grunge-pink.svg');
		background-position: center;
		background-repeat: repeat;
		background-size: 75%;

	}

	&--grey {

		background-image: url('../resources/grunge/grunge-grey.svg');
		background-position: center;
		background-repeat: repeat;
		background-size: 100%;

	}

	&--white {

		background-image: url('../resources/grunge/grunge-white.svg');
		background-position: center;
		background-repeat: repeat;
		background-size: 75%;

	}

}