/**
* .masthead
*/

.masthead {

	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: $sp-small;

	@include media-breakpoint-up(md) {
		
		padding-top: $sp-medium;

	}

	&--logo {

		max-width: 100px;

		@include media-breakpoint-up(md) {

			position: absolute;
			z-index: 0;
			max-width: 150px;
			
		}

		@include media-breakpoint-up(lg) {

			max-width: 200px;
			
		}

		&:hover {

			animation: shake 500ms ease-in-out infinite;

		}

	}

	&--search {

		svg {

			fill: $color-white;
			width: $sp-small * 1.5;

		}

	}

}