/**
* img
*/

img { 

	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;

	&[class*="wp-image"] {

		width: auto;
		height: auto;

	}

	&.jsImages {
	
		opacity: 0;

		&.loaded {

			opacity: 1;

		}

	}
	
}

/**
* svg
*/

svg { 

	display: inline-block;
	vertical-align: middle;
	width: $sp-medium;
	height: $sp-medium;

}

/**
* figcaption
*/

figcaption {

	font-style: $font-size-base;
	margin-top: $sp-small;

}