/**
* a
*/

a { 

	color: $color-brand-one;
	text-decoration: none;
	font-weight: $fw-bold;

	&:hover {

		color: $color-grey;
		text-decoration: none;
		border-bottom: 3px solid currentColor;

		svg {

			fill: $color-grey;

		}

	}

	span {

		color: inherit;

	}

}

/**
* p a
*/ 

p a {

	font-weight: $fw-bold;

}

/**
* .cc-link
*/

.cc-link {

	text-decoration: none !important;
	
	&:hover {

		border-bottom: none;

	}

}