/**
* nav
*/

nav {

	&#topNavigation {

		display: none;

		ul {

			li {

				@include posRel;
				font-size: $fz-s;

				@include media-breakpoint-up(md) {
					
					margin-left: $sp-extra-small * 1.5;
					margin-right: $sp-extra-small * 1.5;
					font-size: 1rem;

				}

				@include media-breakpoint-up(lg) {
					
					margin-left: $sp-small;
					margin-right: $sp-small;
					
				}

				&.menu-item-has-children:hover {

					.sub-menu {

						display: block;

					}

				}

			}

			&.sub-menu {

				display: none;
				@include posAbs;
				padding-top: $sp-extra-small;
				animation: fi 250ms ease-in-out forwards;
				transform-origin: center;
				top: 100%;
				margin-top: 2px;
				left: 50%;
				transform: translateX(-50%);
				min-width: 150px;
				width: max-content;
				background-image: url($resource_uri + '/boxes/box-black.svg');
				background-size: 105% 100%;
				background-position: center;
				background-repeat: no-repeat;

				li {
				
					padding-left: $sp-small;
					padding-right: $sp-small;
					padding-top: $sp-extra-small;
					padding-bottom: $sp-extra-small;
					margin: 0;

					&:first-child {
		
						padding-top: $sp-small;

					}

					&:last-child {
		
						padding-bottom: $sp-small;

					}

					a {

						font-size: $fz-s;
						display: block;

						&:hover {

							border-bottom: none;

						}

					}

				}

			}

		}

		@include media-breakpoint-up(md) {
				
			display: block;

		}
	
	}

	&#mobileNavigation {

		display: none;
		animation: fi-shrink 250ms ease-in-out forwards;
		
		&.active {

			display: block;
			position: fixed;
			z-index: 20;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

		}

		&.inactive {

			animation: fo-grow 250ms ease-in-out forwards;

		}

		ul {

			max-width: 320px;
			margin: $sp-medium auto 0;

			li {

				margin-bottom: $sp-small;

				a {

					font-size: $fz-xl;
					display: inline-block;

				}

				&.menu-item-has-children {

					& > a {
	
						@include posRel;

						&:after {
	
							content: '';
							display: inline-block;
							vertical-align: middle;
							margin-left: $sp-small;
							width: $sp-small * 1.5;
							height: $sp-small * 1.5;
							background-image: url($resource_uri + '/svgs/chevron-circle-down.svg');

						}

					}

					&.active {

						.sub-menu {

							display: block;

						}

					}

				}

			}

			&.sub-menu {

				margin-top: 0;
				margin-bottom: - $sp-small;
				max-width: 100%;
				padding-top: $sp-small;
				padding-bottom: $sp-small;
				display: none;

				li {

					&:last-child {

						margin-bottom: 0;

					}

					a {

						font-size: $font-size-base;

					}

				}

			}

		}

	}

	ul {

		padding-left: 0;
		margin-bottom: 0;
		list-style: none;

		li { 

			&.current_page_item {

				& > a {

					border-bottom: 2.5px solid currentColor;

				}

			}

			a {

				font-family: $headings-font-family;
				font-weight: $fw-bold;
				color: $color-white;
				text-transform: uppercase;

				&:hover {

					color: $color-brand-one;

					&.masthead--search {

						border-bottom: none;

					}

					svg {

						fill: $color-brand-one;

					}

				}

			}

		}

	}

	.basket {
	
		fill: $color-white;
		width: 20px;
		margin-right: $sp-extra-small / 2;

	}

}

/**
* .nav--logo
*/

.nav--logo {

	max-width: 320px;
	margin-left: auto;
	margin-right: auto;

	img {
	
		max-width: 200px;

	}

}

/**
* .nav--trigger
*/

.nav--trigger {

	@include media-breakpoint-up(md) {
		
		display: none;

	}

	svg {

		fill: $color-white

	}

	&.close {

		position: fixed;
		z-index: 0;
		top: $sp-medium;
		right: $sp-small * 1.5;
		padding: 0;

	}

}

/**
* body.cart-active
*/

body.cart-active {

	nav#topNavigation {
	
		input[name="s"] {

			display: none;

		}

		a {

			

		}

	}

}
