/**
* .tear
*/

.tear {

	@include posRel;

	&:not(.masthead):not(footer):not(.title--stretchHolder) {
	
		margin-top: 35px;
		margin-bottom: 30px;
		padding-top: 15px;
		padding-bottom: 60px;

	}

	&:before,
	&:after {

		left: 0;
		height: 50px;
		width: 100%;
		background-repeat-x: repeat;
		background-size: auto;

	}

	&--blackUp {

		&:before {
			
			@include pseudo;
			bottom: 100%;
			transform: translateY(1px);
			background-image: url($resource_uri + 'tears/tear-black-up.svg');
			background-position: bottom;

		}

	}

	&--blackDown {

		&:after {
			
			@include pseudo;
			transform: translateY(-1px);
			top: calc(100% - 25px);
			background-image: url($resource_uri + 'tears/tear-black-down.svg');
			background-position: top;

		}

	}

	&--pinkUp {

		&:before {
			
			@include pseudo;
			bottom: 100%;
			transform: translateY(1px);
			background-image: url($resource_uri + 'tears/tear-pink-up.svg');
			background-position: bottom;

		}

	}

	&--pinkDown {

		&:after {
			
			@include pseudo;
			transform: translateY(-1px);
			top: calc(100% - 25px);
			background-image: url($resource_uri + 'tears/tear-pink-down.svg');
			background-position: top;

		}

	}

	&--whiteUp {

		&:before {
			
			@include pseudo;
			bottom: 100%;
			transform: translateY(1px);
			background-image: url($resource_uri + 'tears/tear-white-up.svg');
			background-position: bottom;

		}

	}

	&--whiteDown {

		&:after {
			
			@include pseudo;
			transform: translateY(-1px);
			top: calc(100% - 25px);
			background-image: url($resource_uri + 'tears/tear-white-down.svg');
			background-position: top;

		}

	}

	&--greyUp {

		&:before {
			
			@include pseudo;
			bottom: 100%;
			transform: translateY(1px);
			background-image: url($resource_uri + 'tears/tear-grey-up.svg');
			background-position: bottom;

		}

	}

	&--greyDown {

		&:after {
			
			@include pseudo;
			transform: translateY(-1px);
			top: calc(100% - 25px);
			background-image: url($resource_uri + 'tears/tear-grey-down.svg');
			background-position: top;

		}

	}

	&--newsUp {

		&:before {
			
			@include pseudo;
			bottom: 100%;
			transform: translateY(1px);
			background-image: url($resource_uri + 'tears/tear-news-up.svg');
			background-position: bottom;

		}

	}

	&--newsDown {

		&:after {
			
			@include pseudo;
			transform: translateY(-1px);
			top: calc(100% - 25px);
			background-image: url($resource_uri + 'tears/tear-news-down.svg');
			background-position: top;

		}

	}

}